$lightColor             : #F2F2F2;
$darkColor              : #373D44;
$blackColor             : #2B2B2C;

$mainBackground         : $lightColor;
$mainFontFamily         : 'JetBrainsMono', sans-serif;
$mainFontColor          : $darkColor;
$mainFontSize           : 16px;
$mainFontWeight         : 400;
$mainLineHeight         : 1.5;

$smWidth                : 576px;
$mdWidth                : 720px;
$lgWidth                : 960px;
$xlWidth                : 1200px;
$xxlWidth               : 1400px;

$box-shadow             : 0 1px 6px 0 rgba(32, 33, 36, 0.28);